.banner {
  background-image: url('../asests/img/banner-img.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 30vh;
  border-radius: 0 0 0 50px;
}

.header-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.content-container {
  margin-top: 20px;
}

.cart-items-container {
  width: 30%;
  margin: 12px;
}

.cart-payment-container {
  width: 70%;
  margin: 12px;
}

.cart-container {
  display: flex;
  margin: 50px 20px;
}

.slider-container {
  margin: 50px 20px;
}

.cart-img img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-right: 40px;
}
